<h1>Dish Details</h1>

<h2>Dish <%= dish.id %></h2>

<p><%= dish.title %></p>

<div>
<img src="<%= dish.image_url %>" alt="" />
</div>


<button><a href="/dishes/<%= dish.id %>/edit">Edit</a></button>
<form action="/dishes/<%= dish.id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <button>Delete</button>
</form>